.flipcard-container {
    @apply w-96 h-96 cursor-pointer;
    perspective: 1000px
}

.flipcard-inner {
    @apply relative w-full h-full transition-transform duration-700;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.flipcard-front,
.flipcard-back {
    @apply absolute w-full h-full rounded-xl shadow-lg bg-white flex items-center justify-center;
    backface-visibility: hidden;
}

.flipcard-front {
    @apply z-10;
}

.flipcard-back {
    transform: rotateY(180deg);
    @apply z-10 relative;
}

.flipcard-items {

}

.flipcard-item {

}

.flipcard-description {
    @apply absolute top-0 h-full bg-gray-100 p-4 shadow-md rounded-xl transition-all duration-500 ease-in-out;
    @apply z-0;
    width: 24rem;
    transform: translateX(0%);
    opacity: 0;
    pointer-events: none;
}

.animate {
    transform: translateX(100%);
    opacity: 1;
    pointer-events: auto;
}