@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  @apply flex flex-col;
}

/*
* Describes the main layout of the application in AppShell.tsx
*/

.main-container {
  @apply flex flex-row;
}

.left-nav {
  @apply w-56 bg-slate-700;
  @apply min-h-screen;
}

.vertical-divider {
  @apply w-px bg-green-500;
}

.central-content {
  @apply flex-1;
}
