@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  @apply sm:h-10 md:h-14 lg:h-20 xl:h-24;
}

.header {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
}

.promo-first {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
}

.promo-second {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
}

.promo-third {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
}

.promo-fourth {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
}

.auth-buttons {
  @apply sm:h-20 md:h-32 lg:h-40 xl:h-48;
  @apply flex flex-row justify-center;
}

.a-button {
  @apply sm:w-20 md:w-24 lg:w-28 xl:w-32;
  @apply p-3 m-3 rounded-md;
  @apply bg-slate-500 hover:bg-slate-200 hover:text-black;
}
